# Day 13

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

1. 1D data is called series data
2. 2D data is called dataframe data
3. 3D and above data is called panel data

In [ ]:
Dataset="../Datasets/"

**There are 3 type of Data structure in pandas**
1. Series: It is 1D array which assign index to each value.
2. Dataframe: It is 2D array. Its a tabular data structure.
3. Panel: It has 3 dimensional and more dimensional array.

# Missing data

1. Accuracy in calculation is effected

In [ ]:
years = [90, 91, 92, 93, 94, 95]
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm1 = pd.Series(f1,index=years)
firm1
f2 = {90:14,92:9, 93:13, 94:15}
firm2 = pd.Series(f2,index=years)
firm2
f3 = {93:10, 94:12, 95: 13}
firm3 = pd.Series(f3,index=years)
firm3
df3 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years)
df3
df3.Firm1 = firm1
df3.Firm2 = firm2
df3.Firm3 = firm3
df3

In [ ]:
nadeleted = firm2.dropna()
firm2
nadeleted

In [ ]:
cleandf3 = df3.dropna()
df3
cleandf3

In [ ]:
df3
clean2 = df3.dropna(how = 'any')
clean2
clean3 = df3.dropna(how = 'all')
clean3

In [ ]:
columndrop = df3.dropna(axis=1)
columndrop
columndrop2 = df3.dropna(axis=1,how='all')
columndrop2

**threshold define maximum 2 NaN in a row than row will be drop.**

In [ ]:
df3
thresholddf = df3.dropna(thresh=2)
thresholddf

**Fill na with 0**

In [ ]:
fillna1=df3.fillna(0)
fillna1

**Fill all na for columns Firm1, Firm2, Firm3 with 2,3, 0 respectively**

In [ ]:
df3
fillna2=df3.fillna({'Firm1':2,'Firm2':3,'Firm3':0})
fillna2

**Do forwardfill next NaN with current value given that current value is not NaN.**
1. Firm2 column has NaN at 91,95 index row. There is NaN after 90 index for Firm2 so it replace 91 index value with 90th index same goes true for 95th index which is replaced with 94th index value.
2. Firm3 columns has NaN but there is no index row that has NaN in next index. In other word 93 is not NaN and has no forward index value as NaN, though 90-92 has NaN but has no non-NaN value precedes.

In [ ]:
df3
fillna3=df3.fillna(method='ffill')
fillna3

**Do Backwardfill fill previous NaN with current value given that current value is not NaN.**
1. Firm2 column has NaN at 91,95 index row. There is NaN before 92nd index for Firm2 so it replace 91 index value with 92nd index. Since 95th is the last index for Firm2 and doesnt have following index with non-NaN value hence its remain NaN.
2. Firm3 columns has NaN at 90-92 and 93 is not NaN 90-92 were backward filled with 93rd index value.

In [ ]:
df3
fillna4=df3.fillna(method='bfill')
fillna4

**limit define how many row's NaN will be filled**

In [ ]:
df3
fillna5=df3.fillna(method='bfill',limit=2)
fillna5

In [ ]:
df3
fillna6=df3.fillna(df3.median())
fillna6

**we can replace unrecognized data to NaN will loading data from external files**
```
Here we replace 'NULL',-999,'RP','10000.00%' to NaN

In [ ]:
rowmiss=pd.read_csv(Dataset+'roemissing.csv',na_values=['NULL',-999,'RP','10000.00%'])

In [ ]:
rowmiss.head(20)

**replace 'NULL',-999,'RP' in 'Number of firms' column to NaN and '10000.00%' in 'ROE' column to NaN**

In [ ]:
rowmiss2=pd.read_csv(Dataset+'roemissing.csv',na_values={'Number of firms':['NULL',-999,'RP'],'ROE':['10000.00%']})
rowmiss2.head(20)

In [ ]:
#will give list of data in dataset and also shows how many missing value  are there
rowmiss.info()

In [ ]:
rowmiss2.isnull()

In [ ]:
#give the count of null values
rowmiss2.isnull().sum()

In [ ]:
rowmiss2.to_csv(Dataset+'Added_NaN.csv', index=False,)

**Multi Indexing**

In [ ]:
h_i_data=pd.Series(np.random.randn(10),index=[['ind1','ind1','ind1','ind1','ind2','ind2','ind2','ind3','ind3','ind3'],
                                             [1,2,3,4,1,2,3,1,2,3]])

In [ ]:
h_i_data

In [ ]:
h_i_data['ind1'][:2]

**unstack create dataframe with level 0 as cloumn.**

In [ ]:
h_i_data.unstack(level=0)

In [ ]:
h_i_data.unstack(level=1)

In [ ]:
h_i_data.round(1)
h_i_data.round(1).sum()

In [ ]:
h_i_data.sum(level=1)
h_i_data.round(1).sum(level=1)

In [ ]:
h_i_data.sum(level=0)