# Pandas

1. **Descriptive**
2. **Missing Values**
3. **Graphs /Plotting**
4. **Joins**
5. **Reindexing**
6. **Misc**
7. **Data reader from web need to revisit by RP**

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import pandas_datareader as pdr
from pandas_datareader import data, wb
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
start = datetime.datetime(2017, 5, 1)
end = datetime.datetime(2017, 5, 31)

1. 1D data is called series data
2. 2D data is called dataframe data
3. 3D and above data is called panel data

In [ ]:
Dataset="../Datasets"

**There are 3 type of Data structure in pandas**
1. Series: It is 1D array which assign index to each value.
2. Dataframe: It is 2D array. Its a tabular data structure.
3. Panel: It has 3 dimensional and more dimensional array.

In [ ]:
data=pd.DataFrame({'price':[95,25,81,78,89],
                   'ticker':['AXP','CSCO','DIS','MSFT','WMT'],
                   'company':['American Express','Cisco','Walt Disney','Microsoft','Walmart']})
data

In [ ]:
data['pricesquared']=data.price**2
data['sqrtprice']=np.sqrt(data.pricesquared)
data

In [ ]:
del data['pricesquared']
data

In [ ]:
data['pricesquared']=np.NaN
data['sqrtprice']=np.NaN
data

In [ ]:
data['sequence']=np.arange(0,25,5)
data

In [ ]:
newdata= data.drop(['pricesquared','sqrtprice'],axis=1)
another_newdata= data.drop(['sequence'], axis=1)
another_newdata
newdata
data

In [ ]:
year=[90,91,92,93,94,95]
f1={90:1,91:2,92:3,93:4,94:5,95:6}
firm1=pd.Series(f1,index=year)
firm1
f2={90:10,92:11,93:12,94:13}
firm2=pd.Series(f2,index=year)
firm2
f3={93:20,94:21,95:23}
firm3=pd.Series(f3,index=year)
firm3

In [ ]:
df1=pd.DataFrame(columns=('firm1','firm2','firm3'),index=year)

In [ ]:
df1

In [ ]:
df1.firm1=firm1
df1.firm2=firm2
df1.firm3=firm3
df1

```Above creation and initialization of df1 dataframe can be written in one single line like this```
```
df1=pd.DataFrame({'firm1':firm1,'firm2':firm2,'firm3':firm3},index=year)
```

In [ ]:
df1['firm4']=np.NaN

In [ ]:
del df1['firm4']

In [ ]:
df1

In [ ]:
df1T=df1.T
df1T

In [ ]:
del df1T[90]

In [ ]:
df1T
df1

# Reindexing

In [ ]:
df1
reindex_df1=df1.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindex_df1

In [ ]:
reindex_df=df1.reindex(np.arange(1988,2008))
reindex_df

In [ ]:
year1=[90,91,92,93,94,95]
f4={90:8,91:9,92:10,93:11,94:12,95:13}
firm4=pd.Series(f4,index=year1)
f5={90:14,91:15,92:16,93:17,94:18,95:19}
firm5=pd.Series(f5,index=year1)
f6={90:8,91:9,92:9,93:10,94:12,95:13}
firm6=pd.Series(f6,index=year1)
df2=pd.DataFrame({'firm1':firm4,'firm2':firm5,'firm3':firm6},index=year1)

In [ ]:
df2

# Missing Value treatment

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindex_df2

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98],fill_value=0)
reindex_df2

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindex_df2

**bfill/backfill** − Fill values backward the time it encounter data it check immediate previous null value if its null it fill it with that encountered data.

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98],method='bfill')
reindex_df2

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindex_df2

**pad/ffill** − Fill values forward, the time it encounter data it check immediate next value if its null value fill it with that encountered data.

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98],method='ffill')
reindex_df2

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindex_df2

In [ ]:
reindex_df2=df2.reindex([88,89,90,91,92,93,94,95,96,97,98],fill_value=999)
reindex_df2

randn: 
``` 
generate random sample from standard normal distribution.
```
seed:
``` 
Maintains the randomness.
```

In [ ]:
np.random.seed(2)
datf=pd.DataFrame(np.random.randn(3,3),columns=['one','two','three'])
datf

In [ ]:
np.abs(datf)

In [ ]:
f=lambda x:x.max() - x.min()
datf.apply(f)

In [ ]:
datf.apply(f,axis=1)

In [ ]:
datf
f2=lambda x: x - np.mean(x)

datf.iloc[0,0]
np.mean(datf,axis=1)
datf.iloc[0,0] -np.mean(datf)
datf.apply(f2)

datf.iloc[0,0]
np.mean(datf)
datf.iloc[0,0] -np.mean(datf)
datf.apply(f2,axis=1)

In [ ]:
def stats(x):
    return pd.Series([np.mean(x),x.max(),x.min(),x.max()-x.min()],index=['Mean','Max','Min','Range'])

In [ ]:
datf
datf.apply(stats, axis=1)
datf.apply(stats)

## Sorting

```Note: Sorting by lable will sort only those lable rest will follow. In below we sort by lable 'three' so only column three is sorted and rest on same row follows```

```Eg: in lable 'three' value -0.841747 is the largest and '1.640271' '-1.793436' are in the same row and they just follows.```

In [ ]:
datf
# sort_index is deprecated alternative is to use sort_values

#datf.sort_index(by='three' ,ascending=False)
print("Using 'sort_values' since 'sort_index' is depricated")
datf.sort_values(by='three',ascending=False)

In [ ]:
datf
datf.std()

In [ ]:
datf.sum(axis=0)

In [ ]:
datf
datf.cumsum(axis=0) #cummulative sum on row
datf.cumsum(axis=1) #cummulative sum on colums

In [ ]:
datf
datf.describe()

# Read CSV file and creating dataframe

In [ ]:
cars_df=pd.read_csv(Dataset+'/cars.csv')

In [ ]:
cars_df.head(20)

In [ ]:
cars_df.tail(20)

In [ ]:
cars_df.sample(20)

In [ ]:
cars_df.columns

In [ ]:
type(cars_df)

In [ ]:
cars_df.shape

In [ ]:
cars_df.describe()

In [ ]:
cars_df.info()

**Correlation**
```
How factor x1  is co related to x2
```

**Here x2 and x1 is changing in same direction this is called Positive Correlation**
<img src="corr.jpg" width="250"/>
```
Closer its to '1' stronger the positive correlation and in other word its 100% positive correlated
```

**Here x2 and x1 is changing in different direction this is called negative correlation**
<img src="corr2.jpg" width="250"/>
```
Closer its to '-1' stronger the negative correlation and in other word its 100% negative correlated
```

**Here x1 changes but has no effect on x2 this is called No correlation or uncorrelated**
<img src="corr3.jpg" width="250"/>

```Point to remember```
1. Correlation coeficieant can be between +1 and -1
2. If correlation is close to +1 its positive correlated and if its close to -1 its negative correlation and if its 0 then no correlation

```
From below considering "Actual MPG" has strong negative correlation with "weight".
```
```
It means If weight increase Acutal MPG will decrease and vice versa.
```
```
From below considering "Actual MPG" has positive correlation with "Accelerated"/"year".
```
```
It means If Accelerate increase Acutal MPG will increase and vice versa.
```
```
If vehicle is newer Acutal MPG will also increase and vice versa.
```

In [ ]:
round(cars_df.corr(),2)

In [ ]:
cars_df.head(10)

# Covarience Is bit technical need to check later
**cars_df.cov()**

## Groupby

In [ ]:
cars_grp_median=cars_df.groupby('Origin').median()

In [ ]:
cars_grp_median
round(cars_grp_median,2)

In [ ]:
cars_grp_mean=cars_df.groupby('Year').mean()

In [ ]:
cars_grp_mean
round(cars_grp_mean,2)