# Pandas

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import sqlalchemy as sc
from sqlalchemy import create_engine as ce
import matplotlib.pyplot as plt
%matplotlib inline

1. 1D data is called series data
2. 2D data is called dataframe data
3. 3D and above data is called panel data

In [ ]:
Dataset="../Datasets"

In [ ]:
cars_df=pd.read_csv(Dataset+'/cars.csv')
cars_df.head(20)
cars_df.tail(20)
cars_df.sample(20)
cars_df.columns
type(cars_df)
cars_df.shape
cars_df.describe()
cars_df.info()

**There are 3 type of Data structure in pandas**
1. Series: It is 1D array which assign index to each value.
2. Dataframe: It is 2D array. Its a tabular data structure.
3. Panel: It has 3 dimensional and more dimensional array.

In [ ]:
series1= pd.Series([10,20,30,40])
series1

In [ ]:
series1.values

In [ ]:
series1.index

In [ ]:
series2=pd.Series([10,20,30,40,50], index=['one','two','three','four','five'])

In [ ]:
series2

In [ ]:
series2.values
series2.index

In [ ]:
series2[['four','five']]
series2[3:] # Even if we create index pandas maintain default numeric index

In [ ]:
series2+6
series2**2

**Filtering the data from series**

In [ ]:
series2[series2>20]

In [ ]:
np.sqrt(series2)

In [ ]:
year=[90,91,92,93,94,95]
f1={90:8,91:9,92:10,93:11,94:12,95:13}
firm1=pd.Series(f1,index=year) # Here we are converting dictionary into a series we can do the same with set, list, tuple

In [ ]:
firm1

In [ ]:
f2={90:32,92:24,93:45,94:56}
firm2=pd.Series(f2,index=year) 
modified_firm2=pd.Series(f2)

1. ```since we dont have any value assigned to key with number 91,95 which is part of index we have NaN for that index.```
2. ```Since we have not assigned year as index so it will take key in dictionary f2 as the key since there is no 91,95 key it will not have NaN.```

In [ ]:
firm2 
modified_firm2

In [ ]:
year=[90,91,92,93,94,95,96,97,98,99]
f3={93:10,94:34,95:78}
firm3=pd.Series(f3,index=year)
modified_firm3=pd.Series(f3)

In [ ]:
firm3
firm3.index
firm3.values
modified_firm3
modified_firm3.values
modified_firm3.index

```NaN indicate missing value or na in panda indicate missing value you can isnull() function to find if there is any null values```

In [ ]:
firm3.isnull()
pd.isnull(firm3)

In [ ]:
years_f4=[90,93]
f4={93:10,94:34,95:78}
firm4=pd.Series(f4,index=years_f4) 
firm4 #since 94 and 95 is not there in year list hence firm4 will not have value associated with 94,95 from f4

In [ ]:
pd.isnull(firm4)

In [ ]:
pd.isnull(firm3)
firm3[:]

In [ ]:
dict1={'finance':10,'earning':5,'debt':8}
dict2={'finance':8,'compensation':4,'earning':9}
count1=pd.Series(dict1)
count1
count2=pd.Series(dict2)
count2
count3=count1+count2
count3
count3.values
count3.index

In [ ]:
data=pd.DataFrame({'price':[95,25,81,78,89],
                   'ticker':['AXP','CSCO','DIS','MSFT','WMT'],
                   'company':['American Express','Cisco','Walt Disney','Microsoft','Walmart']})

In [ ]:
data

In [ ]:
data['company']

In [ ]:
data['ticker']

In [ ]:
data[3:]

1. loc primarily used with lable but can be used with index. It need atleast one lable
2. iloc is only use index for getting data

In [ ]:
data.iloc[0:2,0:2]
data.iloc[1,1]

In [ ]:
data.iloc[3,2]

In [ ]:
data.iloc[2:4,]
data.iloc[2:4,:]

In [ ]:
data.iloc[2:4,1]
data.iloc[2:4,1:]

In [ ]:
data.iloc[0:4,:]

In [ ]:
data.loc[2:,['ticker','company']]

In [ ]:
data.loc[:,['price']]

In [ ]:
data.loc[[0],:]

In [ ]:
data['company']

In [ ]:
data.company

In [ ]:
data[data.price>80]

In [ ]:
data['year']=2014

In [ ]:
data
data[data.price>80]
data[data.price>80][1:]
data[data.price>80][['company','price','ticker','year']]

In [ ]:
data[data.price>80][~(data.company=='Walt Disney')][['company','price','ticker','year']]

In [ ]:
data['pricesquared']=data.price**2

In [ ]:
data

In [ ]:
data['sqrtprice']=np.sqrt(data.pricesquared)

In [ ]:
data

In [ ]:
del data['pricesquared']

In [ ]:
data

In [ ]:
data['pricesquared']=np.NaN
data['sqrtprice']=np.NaN

In [ ]:
data

In [ ]:
data['sequence']=np.arange(0,25,5)

In [ ]:
data

In [ ]:
data.values
data.shape
data.index
data
data.mean()
data.median()
data.std()
data.cumsum()
data.describe()
data.info()

In [ ]:
data

In [ ]:
newdata= data.drop(['pricesquared','sqrtprice'],axis=1)
another_newdata= data.drop(['sequence'], axis=1)
another_newdata

In [ ]:
newdata
data

# Read from database to dataframe and Insert into database from dataframe

In [ ]:
#engine = sc.create_engine('postgresql://postgres:password@localhost:5433/postgres')
engine = sc.create_engine('postgresql://shafin_DS:password@localhost:5432/test_pandas')
connection = engine.connect()
result = connection.execute("select * from customers")
for row in result:
    print("name:", row['name']," Phone: ",row['phone_number'])
#createquery="CREATE TABLE account(user_id serial PRIMARY KEY, username VARCHAR (50) UNIQUE NOT NULL, password VARCHAR (50) NOT NULL, email VARCHAR (355) UNIQUE NOT NULL);"
#create_table=connection.execute(createquery)

In [ ]:
df_cust = pd.read_sql_table('customers',engine)
df_ord=pd.read_sql_table('orders',engine)

In [ ]:
df_cust
df_ord

In [ ]:
query='select c.name as Customer, c.phone_number as Phone, o.name, o.amount from customers c, orders o where c.id=o.customer_id'
df_custNOrd= pd.read_sql_query(query,engine)

In [ ]:
df_custNOrd
df_custNOrd.iloc[0:2,0:1]
df_custNOrd.rename(columns={'name':'Items','phone':'Mobile'},inplace=True)
df_custNOrd

In [ ]:
df_custNOrd.Items
df_custNOrd[df_custNOrd.Items=='Storage box']['customer']

In [ ]:
newdata.to_sql(name='Companies_stock', con=engine, if_exists='replace', index=False)

In [ ]:
df_custNOrd.to_sql(name='Customers_Purchase_details', con=engine, if_exists='replace', index=False)