### The exercise contains data of the obesity of patients in a hospital
The first file consists obesity count of males and females of patients during different years

The second file consists of age breakage of obesity count

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (15, 6)

Populating the interactive namespace from numpy and matplotlib

### Read .xls file through Excelfiles

In [2]:
obes=pd.read_excel(obes-phys-acti-diet.xls)

NameError: name 'obes' is not defined

### Print sheet names present in the xls file¶

### create a list of six columns

1. Year
2. Total
3. Males
4. Females
5. Nan
6. None

In [ ]:
# Define the columns to be read

### parse the data and read the six columns present in 7.1 sheet of data and skip first six rows and set skipfooter=14 and the column names as the list defined above

### Drop two columns Nan and None

### Print data

### Remove the N/A from the data

### Set year as index

### Plot the data_gender and observe the obesity curve

### Read second sheet 7.2 as data_age

In [2]:
# Read 2nd section, by age by skipping first four rows and skipfooter as 14

### the year column didn’t have a header, which is why pandas names it Unnamed. Let’s rename it

In [3]:
# Rename unames to year

### Drop Unnamed:10 and Unnamed:11 attributes

### Drop empties and set index as year

### plot all the ages.

### Remove total attribute and Plot

### Plot under 16 and 25-34 age data

## We would encourage to go through other sheets and find interesting patterns