## Day 4

In [1]:
your_local_path="F:\\UPX_TechM\\Data Analytics\\Content"

In [20]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Data container
```its store data```
1. List : Mutable(can be changed ), iterable, homogenous/heterogenous(can have float, int, string, or combination
2. Tuple : Imutable(cant be changed), write once read many time.
3. Dictionary : Mutable(can be changed ), iterable, Key/value pair
4. Set

In [10]:
# List declaration
x=[1,'3',4,5]
y=[1,2,3]

In [18]:
x.append(12)

In [ ]:
x

In [ ]:
x.append(12)

In [20]:
x.remove(12)

In [22]:
x

[1, '3', 4, 5, 13, 12]

In [23]:
for position, number in enumerate(x):
    print (position, number)

0 1
1 3
2 4
3 5
4 13
5 12

In [32]:
n='shafin'
n=list(n)

In [33]:
n

['s', 'h', 'a', 'f', 'i', 'n']

In [35]:
n.count('a')

1

In [36]:
n.insert(2,'k')

In [37]:
n

['s', 'h', 'k', 'a', 'f', 'i', 'n']

In [39]:
del n[0]

In [40]:
n

['h', 'k', 'a', 'f', 'i', 'n']

```del remove element at specific index's element and remove  by element that inserted first
    difference comes when there same element in two index remove will remove first inserted element```

In [41]:
#pop method: by default, it removes and returns the last element 
#but you can pop any element by providing an index.
n.pop()

'n'

In [42]:
n
n.pop(1)

'k'

In [43]:
n

['h', 'a', 'f', 'i']

In [44]:
'f' in n

True

In [57]:
n=['m','s','m']

In [58]:
#list declaration
n_tup=(1,2,3,4)

In [59]:
n_tup

(1, 2, 3, 4)

In [60]:
n_tup=n_tup+(119,)
print("tuple New value" + str(n_tup))
print(n_tup[3])

tuple New value(1, 2, 3, 4, 119)
4

In [65]:
#Dictionaries declaration
my_details={"f_name":'Shafin', "l_name":"Thiyam", "location":"Hyderabad"}

In [68]:
my_details.keys()
my_details.values()

dict_keys(['f_name', 'l_name', 'location'])

dict_values(['Shafin', 'Thiyam', 'Hyderabad'])

In [69]:
my_details['f_name']

'Shafin'

In [71]:
my_details.update({'State':'Telangana'})
my_details

{'State': 'Telangana',
 'f_name': 'Shafin',
 'l_name': 'Thiyam',
 'location': 'Hyderabad'}

In [73]:
del my_details["State"]

KeyError: 'State'

In [74]:
my_details

{'f_name': 'Shafin', 'l_name': 'Thiyam', 'location': 'Hyderabad'}

In [75]:
st=input('Enter the state name')
print("State {} is added in my_details dictionary".format(st))
my_details.update({'State':st})

Enter the state nameTelangana
State Telangana is added in my_details dictionary

In [76]:
my_details

{'State': 'Telangana',
 'f_name': 'Shafin',
 'l_name': 'Thiyam',
 'location': 'Hyderabad'}

**to run existing code**
```%run "location of the code"```
```code='c:\code\test.py'
%run $code'''

In [88]:
n=[23,34,342,44223,2344,22,343]
n.sort(reverse=False)

In [89]:
max(n)
min(n)
len(n)

44223

22

7

In [90]:
n

[22, 23, 34, 342, 343, 2344, 44223]

**List to set Conversion**

In [3]:
list_i=[2,3,42,44,2,4,3,42,43,44,5,6,7,2,4,7,6,8,9,7,8,9]
set_i=set(list_i)
set_i

{2, 3, 4, 5, 6, 7, 8, 9, 42, 43, 44}

**List to tuple Conversion**

In [13]:
list_i=[2,3,42,44,2,4,3,42,43,44,5,6,7,2,4,7,6,8,9,7,8,9]
tuple_i=(list_i)
tuple_i

22

[2, 3, 42, 44, 2, 4, 3, 42, 43, 44, 5, 6, 7, 2, 4, 7, 6, 8, 9, 7, 8, 9]

**List to Dictionary Conversion**

In [22]:
list_i=[2,3,42,44,2,4,3,42,43,44,5,6,7,2,4,7,6,8,9,7,8,9]
#Converting list to dictionary is not straightforward considering the fact diction.. rely on key value while list is not.
#The way to do this is to select them with the slice notation and pass them to zip()
dict_i=dict(zip(list_i[0::2],list_i[1::2]))
list(zip(list_i[0::2])) # it convert the list into single element tuple 
list(zip(list_i[1::2]))
dict_i

[(2,), (42,), (2,), (3,), (43,), (5,), (7,), (4,), (6,), (9,), (8,)]

[(3,), (44,), (4,), (42,), (44,), (6,), (2,), (7,), (8,), (7,), (9,)]

{2: 4, 3: 42, 4: 7, 5: 6, 6: 8, 7: 2, 8: 9, 9: 7, 42: 44, 43: 44}

In [19]:
list(zip(list_i[0::2])) # it convert the list into single element tuple 
list(zip(list_i[1::2]))

[(3,), (44,), (4,), (42,), (44,), (6,), (2,), (7,), (8,), (7,), (9,)]

## Function
```
Dry Coding : Don't Repeat Yourself (DRY) its a good practice this is where function come into picture
```
```
Wet Coding : Write Every Time its not good practice
```

In [91]:
#function declaration
def add(x,y):
    return x+y

In [92]:
add(1,2)

3

In [99]:
def cat(x='hello'):
    print (x*3)
cat()

hellohellohello

In [104]:
l=[1,2,2,2,3,3,3,4,3,5,5,6,2]
l_set=set(l)

In [105]:
l
l_set

[1, 2, 2, 2, 3, 3, 3, 4, 3, 5, 5, 6, 2]

{1, 2, 3, 4, 5, 6}

SyntaxError: invalid syntax (<ipython-input-106-b289db08d22b>, line 10)